@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("node_modules/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">API Explorer</span>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      @content
    </div>

    <script type="text/javascript" src="@routes.Assets.at("node_modules/jquery/dist/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("node_modules/bootstrap/dist/js/bootstrap.min.js")"></script>
  </body>
</html>
