@(application: model.Application)

@import play.api.libs.json._
@import model.JsonHelpers._

@base("API Explorer") {

  <script type="text/javascript">
    @** wrapping the JSON payload inside a @Html fragment, as we need unescaped content. *@
    var Application = @Html(Json.toJson(application)(applicationWriter).toString());
  </script>

  <style type="text/css">
    @** This is to work around React's wrapping of all the components with a 'div' element. Breaks page-flow. *@
    #fragments .panel-body div {
      display: inline-block;
    }
  </style>

  <script type="text/javascript" src="@routes.Assets.at("javascripts/built/bundle.js")"></script>
  <div class="row">
    <div class="col-md-3">
      @views.html.common.endpoints(application.endpoints)
    </div>
    <div class="col-md-8">
      <div id="urlTracker">
        <!-- url tracker insertion point-->
      </div>
      <div id="fragments">
        <!-- fragments insertion point -->
      </div>
      <div id="parameters">
          <!-- parameters insertion point -->
      </div>
    </div>
  </div>
}
